<?xml version="1.0"?>
<config>
    <modules>
        <Cloudinary_Cloudinary>
            <version>0.1.1</version>
        </Cloudinary_Cloudinary>
    </modules>
    <global>
        <models>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Model</class>
                <resourceModel>cloudinary_resource</resourceModel>
            </cloudinary_cloudinary>
            <catalog>
                <rewrite>
                    <product_image>Cloudinary_Cloudinary_Model_Catalog_Product_Image</product_image>
                    <product_media_config>Cloudinary_Cloudinary_Model_Catalog_Product_Media_Config</product_media_config>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Cloudinary_Cloudinary_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
            <cloudinary_resource>
                <class>Cloudinary_Cloudinary_Model_Resource</class>
                <entities>
                    <synchronisation>
                        <table>cloudinary_synchronisation</table>
                    </synchronisation>
                    <migration>
                        <table>cloudinary_migration</table>
                    </migration>
                </entities>
            </cloudinary_resource>
        </models>
        <blocks>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Block</class>
            </cloudinary_cloudinary>
        </blocks>
        <cms>
            <page>
                <tempate_filter>cloudinary_cloudinary/cms_template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>cloudinary_cloudinary/cms_template_filter</tempate_filter>
            </block>
        </cms>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Cloudinary_Cloudinary_Helper_Image</image>
                </rewrite>
            </catalog>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Helper</class>

            </cloudinary_cloudinary>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <upload_images_to_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer</class>
                        <method>uploadImagesToCloudinary</method>
                    </upload_images_to_cloudinary>
                </observers>
            </catalog_product_save_after>
            <catalog_product_save_before>
                <observers>
                    <delete_images_from_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer</class>
                        <method>deleteImagesFromCloudinary</method>
                    </delete_images_from_cloudinary>
                </observers>
            </catalog_product_save_before>
            <controller_front_init_before>
                <observers>
                    <load_custom_autoloaders>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer</class>
                        <method>loadCustomAutoloaders</method>
                    </load_custom_autoloaders>
                </observers>
            </controller_front_init_before>
        </events>
        <resources>
            <cloudinary_setup>
                <setup>
                    <module>Cloudinary_Cloudinary</module>
                </setup>
            </cloudinary_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cloudinary_cloudinary before="Mage_Adminhtml">Cloudinary_Cloudinary_Adminhtml</cloudinary_cloudinary>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <cloudinary_migrate>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cloudinary_cloudinary/cron::migrateImages</model>
                </run>
            </cloudinary_migrate>
        </jobs>
    </crontab>
</config>