<?xml version="1.0"?>
<config>
    <modules>
        <Cloudinary_Cloudinary>
            <version>0.1.0</version>
        </Cloudinary_Cloudinary>
    </modules>
    <global>
        <models>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Model</class>
            </cloudinary_cloudinary>
        </models>
        <blocks>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Block</class>
            </cloudinary_cloudinary>
        </blocks>
        <helpers>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Helper</class>
            </cloudinary_cloudinary>
        </helpers>
    </global>
</config>