<?xml version="1.0"?>
<config>
    <modules>
        <Cloudinary_Cloudinary>
            <version>0.1.0</version>
        </Cloudinary_Cloudinary>
    </modules>
    <global>
        <models>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Model</class>
            </cloudinary_cloudinary>
            <catalog>
                <rewrite>
                    <product_image>Cloudinary_Cloudinary_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Block</class>
            </cloudinary_cloudinary>
        </blocks>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Cloudinary_Cloudinary_Helper_Image</image>
                </rewrite>
            </catalog>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Helper</class>

            </cloudinary_cloudinary>
        </helpers>
        <events>
            <catalog_product_gallery_upload_image_after>
                <observers>
                    <cloudinary_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer</class>
                        <method>uploadImageToCloudinary</method>
                    </cloudinary_cloudinary>
                </observers>
            </catalog_product_gallery_upload_image_after>
            <controller_front_init_before>
                <observers>
                    <cloudinary_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer</class>
                        <method>loadCustomAutoloaders</method>
                    </cloudinary_cloudinary>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>