<?xml version="1.0"?>
<config>
    <sections>
        <cloudinary translate="label">
            <label>Cloudinary</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <signup>
                    <frontend_model>cloudinary_cloudinary/adminhtml_system_config_signup</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </signup>>
                <setup translate="label">
                    <label>Cloudinary Setup</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <sort_order>1</sort_order>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cloudinary_environment_variable translate="label comment">
                            <label>Environment Variable</label>
                            <comment>You can get your Environment Variable from the "Account Details" section on the Cloudinary dashboard.</comment>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cloudinary_environment_variable>
                    </fields>
                </setup>
                <configuration translate="label">
                    <label>Cloudinary Configuration</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>2</sort_order>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cloudinary_cdn_subdomain>
                            <label>Enable fetching images from multiple sub-domains</label>
                            <comment>Enable fetching images from multiple sub-domains</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_cdn_subdomain>
                    </fields>
                </configuration>
                <transformations translate="label">
                    <label>Default Transformations</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>3</sort_order>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cloudinary_fetch_format>
                            <label>Image fetch format(Optimisation)</label>
                            <comment>Image Optimisations for specific web-clients</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_fetch_format>
                        <cloudinary_image_quality>
                            <label>Image Quality</label>
                            <comment>Default quality in which to show images</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_quality</source_model>
                        </cloudinary_image_quality>
                        <cloudinary_gravity translate="label comment">
                            <label>Image Gravity</label>
                            <comment>Default Image Gravity</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_gravity</source_model>
                        </cloudinary_gravity>
                        <cloudinary_image_dpr>
                            <label>Image DPR</label>
                            <comment>Default DPR in which to fetch images</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_dpr</source_model>
                        </cloudinary_image_dpr>
                    </fields>
                </transformations>
            </groups>
        </cloudinary>
    </sections>
</config>