<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cloudinary>
            <transformations>
                <cloudinary_fetch_format>1</cloudinary_fetch_format>
                <cloudinary_image_quality>80</cloudinary_image_quality>
                <cloudinary_image_dpr>1.0</cloudinary_image_dpr>
            </transformations>
            <configuration>
                <cloudinary_cdn_subdomain>1</cloudinary_cdn_subdomain>
            </configuration>
        </cloudinary>
    </default>
</config>
