<?xml version="1.0"?>
<config>
    <modules>
        <Cloudinary_Cloudinary>
            <version>3.0.2</version>
        </Cloudinary_Cloudinary>
    </modules>

    <global>
        <models>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Model</class>
                <resourceModel>cloudinary_resource</resourceModel>
            </cloudinary_cloudinary>
            <cms>
                <rewrite>
                    <adminhtml_template_filter>Cloudinary_Cloudinary_Model_Cms_Adminhtml_Template_Filter</adminhtml_template_filter>
                    <wysiwyg_images_storage>Cloudinary_Cloudinary_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
            <catalog>
                <rewrite>
                    <product_image>Cloudinary_Cloudinary_Model_Catalog_Product_Image</product_image>
                    <product_media_config>Cloudinary_Cloudinary_Model_Catalog_Product_Media_Config</product_media_config>
                    <template_filter>Cloudinary_Cloudinary_Model_Catalog_Template_Filter</template_filter>
                </rewrite>
            </catalog>
            <core>
                <rewrite>
                    <file_uploader>Cloudinary_Cloudinary_Model_Cms_Uploader</file_uploader>
                </rewrite>
            </core>
            <cloudinary_resource>
                <class>Cloudinary_Cloudinary_Model_Resource</class>
                <entities>
                    <synchronisation>
                        <table>cloudinary_synchronisation</table>
                    </synchronisation>
                    <migration>
                        <table>cloudinary_migration</table>
                    </migration>
                    <catalog_media_gallery>
                        <table>catalog_product_entity_media_gallery</table>
                    </catalog_media_gallery>
                    <migrationError>
                      <table>cloudinary_migration_error</table>
                    </migrationError>
                    <transformation>
                        <table>cloudinary_transformation</table>
                    </transformation>
                </entities>
            </cloudinary_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <page_menu>Cloudinary_Cloudinary_Block_Adminhtml_Page_Menu</page_menu>
                    <cms_wysiwyg_images_content_uploader>Cloudinary_Cloudinary_Block_Adminhtml_Cms_Wysiwyg_Images_Content_Uploader</cms_wysiwyg_images_content_uploader>
                </rewrite>
            </adminhtml>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Block</class>
            </cloudinary_cloudinary>
            <uploader>
				<rewrite>
					<single>Cloudinary_Cloudinary_Block_Uploader_Single</single>
                    <multiple>Cloudinary_Cloudinary_Block_Uploader_Multiple</multiple>
				</rewrite>
			</uploader>
        </blocks>
        <cms>
            <page>
                <tempate_filter>cloudinary_cloudinary/cms_template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>cloudinary_cloudinary/cms_template_filter</tempate_filter>
            </block>
        </cms>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Cloudinary_Cloudinary_Helper_Image</image>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <wysiwyg_images>Cloudinary_Cloudinary_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
            <cloudinary_cloudinary>
                <class>Cloudinary_Cloudinary_Helper</class>
            </cloudinary_cloudinary>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <upload_images_to_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer_product</class>
                        <method>uploadImagesToCloudinary</method>
                    </upload_images_to_cloudinary>
                </observers>
            </catalog_product_save_after>
            <catalog_product_save_before>
                <observers>
                    <delete_images_from_cloudinary>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer_product</class>
                        <method>deleteImagesFromCloudinary</method>
                    </delete_images_from_cloudinary>
                </observers>
            </catalog_product_save_before>
            <controller_front_init_before>
                <observers>
                    <load_custom_autoloaders>
                        <type>singleton</type>
                        <class>cloudinary_cloudinary/observer_system</class>
                        <method>loadCustomAutoloaders</method>
                    </load_custom_autoloaders>
                </observers>
            </controller_front_init_before>
        </events>
        <resources>
            <cloudinary_setup>
                <setup>
                    <module>Cloudinary_Cloudinary</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </cloudinary_setup>
        </resources>
        <cache>
            <types>
                <cloudinary translate="label,description" module="cloudinary">
                    <label>Cloudinary</label>
                    <description>Cache of all product image transformations and all images migrated to Cloudinary.</description>
                    <tags>CLOUDINARY</tags>
                </cloudinary>
            </types>
        </cache>
    </global>

    <frontend>
        <layout>
            <updates>
                <frontend_cloudinary>
                    <file>cloudinary/cloudinary.xml</file>
                </frontend_cloudinary>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <cloudinary_product_gallery_override>
                        <class>cloudinary_cloudinary/observer_ProductGalleryOverride</class>
                        <method>execute</method>
                    </cloudinary_product_gallery_override>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <adminhtml_cloudinary>
                    <file>cloudinary/cloudinary.xml</file>
                </adminhtml_cloudinary>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_cloudinary>
                <observers>
                    <cloudinary_config_changed>
                        <class>cloudinary_cloudinary/observer_config</class>
                        <method>cloudinaryConfigChanged</method>
                    </cloudinary_config_changed>
                </observers>
            </admin_system_config_changed_section_cloudinary>
            <catalog_product_save_before>
                <observers>
                    <product_before_save>
                        <class>cloudinary_cloudinary/adminProductObserver</class>
                        <method>beforeProductSave</method>
                    </product_before_save>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cloudinary_cloudinary before="Mage_Adminhtml">Cloudinary_Cloudinary_Adminhtml</cloudinary_cloudinary>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <cloudinary>
            <transformations>
                <cloudinary_fetch_format>1</cloudinary_fetch_format>
                <cloudinary_image_quality>auto</cloudinary_image_quality>
                <cloudinary_image_dpr>1.0</cloudinary_image_dpr>
            </transformations>
            <configuration>
                <cloudinary_cdn_subdomain>1</cloudinary_cdn_subdomain>
                <cloudinary_foldered_migration>1</cloudinary_foldered_migration>
            </configuration>
            <log>
                <cloudinary_log_active>0</cloudinary_log_active>
                <cloudinary_log_filename>cloudinary</cloudinary_log_filename>
            </log>
            <product_gallery>
                <enabled>0</enabled>
                <themeProps_primary>#ffffff</themeProps_primary>
                <themeProps_onPrimary>#000000</themeProps_onPrimary>
                <themeProps_active>#0078ff</themeProps_active>
                <themeProps_onActive>#ffffff</themeProps_onActive>
                <transition>slide</transition>
                <aspectRatio>square</aspectRatio>
                <navigation>mouseover</navigation>
                <zoom>1</zoom>
                <zoomProps_type>inline</zoomProps_type>
                <zoomProps_viewerPosition>right</zoomProps_viewerPosition>
                <zoomProps_trigger>click</zoomProps_trigger>
                <carouselLocation>left</carouselLocation>
                <carouselOffset>5</carouselOffset>
                <carouselStyle>thumbnails</carouselStyle>
                <thumbnailProps_width>64</thumbnailProps_width>
                <thumbnailProps_height>64</thumbnailProps_height>
                <thumbnailProps_navigationShape>rectangle</thumbnailProps_navigationShape>
                <thumbnailProps_selectedStyle>all</thumbnailProps_selectedStyle>
                <thumbnailProps_selectedBorderPosition>left</thumbnailProps_selectedBorderPosition>
                <thumbnailProps_selectedBorderWidth>2</thumbnailProps_selectedBorderWidth>
                <thumbnailProps_mediaSymbolShape>round</thumbnailProps_mediaSymbolShape>
                <indicatorProps_shape>round</indicatorProps_shape>
                <custom_free_params>{}</custom_free_params>
            </product_gallery>
        </cloudinary>
    </default>

    <crontab>
        <jobs>
            <cloudinary_upload_migration>
                <schedule>
                    <cron_expr>*/3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cloudinary_cloudinary/cron::uploadMigration</model>
                </run>
            </cloudinary_upload_migration>
            <cloudinary_download_migration>
                <schedule>
                    <cron_expr>*/3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cloudinary_cloudinary/cron::downloadMigration</model>
                </run>
            </cloudinary_download_migration>
        </jobs>
    </crontab>
</config>
