<?xml version="1.0"?>
<config>
    <tabs>
        <cloudinary translate="label" module="cloudinary_cloudinary">
            <label><![CDATA[
                <div id='cloudinary-icon' style='background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;width:16px;height:16px;margin-right:5px;vertical-align: text-bottom;'></div>Cloudinary
                <script>
                    var n = SKIN_URL.indexOf("adminhtml");
                    document.getElementById('cloudinary-icon').style.backgroundImage = "url(" + SKIN_URL.substring(0, n) + 'adminhtml/default/default/images/cloudinary/cloudinary_icon_for_white_bg.svg' + ")";
                </script>
            ]]></label>
            <sort_order>400</sort_order>
        </cloudinary>
    </tabs>
    <sections>
        <cloudinary translate="label">
            <label>Settings</label>
            <tab>cloudinary</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <signup>
                    <frontend_model>cloudinary_cloudinary/adminhtml_system_config_signup</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </signup>>
                <setup translate="label comment">
                    <label>Cloudinary Setup</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <sort_order>1</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_enabled translate="label comment">
                            <label>Enable Cloudinary</label>
                            <comment>When Cloudinary is enabled, images will be served from Cloudinary (where available). When disabled, images will be served locally.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_enabled>
                        <cloudinary_environment_variable translate="label comment">
                            <label>Cloudinary Account Credentials</label>
                            <comment><![CDATA[Set the credentials of your Cloudinary account. Copy the "Environment variable" string from the dashboard of Cloudinary's Management Console.<br>Format should be: cloudinary://API_Key:API_Secret@Cloud_Name]]></comment>
                            <frontend_type>password</frontend_type>
                            <backend_model>cloudinary_cloudinary/system_config_credentials</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cloudinary_environment_variable>
                    </fields>
                </setup>
                <configuration translate="label comment">
                    <label>Cloudinary Configuration</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>2</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_cdn_subdomain translate="label comment">
                            <label>Image Delivery Domain Sharding</label>
                            <comment>Enable multiple sub-domains of image delivery URLs for faster page load speed.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_cdn_subdomain>
                        <cloudinary_auto_upload_mapping_request translate="label comment">
                            <label>Use auto upload mapping to upload images</label>
                            <comment>Automatically upload images from your site to your Cloudinary account (if they don’t already exist).</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_auto_upload_mapping_request>
                    </fields>
                </configuration>
                <transformations translate="label comment">
                    <label>Default Image Transformations</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>3</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_fetch_format translate="label comment">
                            <label>Automatic Image Format Optimisation</label>
                            <comment>Automatically deliver images in an optimal file format based on viewing device and browser. For example, deliver WebP on Chrome and JPEG-XR on Internet Explorer.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_fetch_format>
                        <cloudinary_image_quality translate="label comment">
                            <label>Image Quality</label>
                            <comment>Adjust the quality of generated images to balance visual quality and file size. The quality is relevant for JPEG and WebP compression levels for example.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_quality</source_model>
                        </cloudinary_image_quality>
                        <cloudinary_gravity translate="label comment">
                            <label>Image Cropping Gravity</label>
                            <comment>Define the part of the image to focus on when cropping images.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_gravity</source_model>
                        </cloudinary_gravity>
                        <cloudinary_image_dpr translate="label comment">
                            <label>Image Device Pixel Ratio (DPR)</label>
                            <comment>Set the DPR value for your images. A DPR value of 2.0 will generate and deliver hi-res images for better results on HiDPI devices such as Retina Displays.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_dpr</source_model>
                        </cloudinary_image_dpr>
                        <cloudinary_free_transform_global translate="label comment">
                            <label>Global custom transformation</label>
                            <comment>Add global custom transformations in addition to those selected above. See the Cloudinary documentation for the full range of transformations. You may need to clear or rebuild the Magento block and page caches to see the changes in the front end.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>cloudinary_cloudinary/adminhtml_system_config_form_free</frontend_model>
                            <backend_model>cloudinary_cloudinary/system_config_free</backend_model>
                        </cloudinary_free_transform_global>
                    </fields>
                </transformations>
                <log translate="label comment">
                    <label>Logging</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>4</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_log_active translate="label">
                            <label>Enable Logging</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_log_active>
                        <cloudinary_log_filename translate="label comment">
                            <label>Filename for Logging</label>
                            <comment>Leave blank to use system default.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cloudinary_log_filename>
                    </fields>
                </log>
                <product_gallery translate="label">
                    <label>Product Gallery</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>0</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Cloudinary's product gallery</label>
                            <comment>Enable Cloudinary's product gallery (override Magento's default)</comment>
                            <config_path>cloudinary/product_gallery/enabled</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>

                        <themeProps type="group" translate="label">
                            <label>Theme colors</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <expanded>1</expanded>
                            <fields>
                                <themeProps_primary translate="label">
                                    <label>Primary</label>
                                    <config_path>cloudinary/product_gallery/themeProps_primary</config_path>
                                    <frontend_type>text</frontend_type>
                                    <backend_model>cloudinary_cloudinary/system_config_HexColor</backend_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>color validate-length minimum-length-4 maximum-length-7</validate>
                                </themeProps_primary>
                                <themeProps_onPrimary translate="label">
                                    <label>onPrimary</label>
                                    <config_path>cloudinary/product_gallery/themeProps_onPrimary</config_path>
                                    <frontend_type>text</frontend_type>
                                    <backend_model>cloudinary_cloudinary/system_config_HexColor</backend_model>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>color validate-length minimum-length-4 maximum-length-7</validate>
                                </themeProps_onPrimary>
                                <themeProps_active translate="label">
                                    <label>active</label>
                                    <config_path>cloudinary/product_gallery/themeProps_active</config_path>
                                    <frontend_type>text</frontend_type>
                                    <backend_model>cloudinary_cloudinary/system_config_HexColor</backend_model>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>color validate-length minimum-length-4 maximum-length-7</validate>
                                </themeProps_active>
                                <themeProps_onActive translate="label">
                                    <label>onActive</label>
                                    <config_path>cloudinary/product_gallery/themeProps_onActive</config_path>
                                    <frontend_type>text</frontend_type>
                                    <backend_model>cloudinary_cloudinary/system_config_HexColor</backend_model>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>color validate-length minimum-length-4 maximum-length-7</validate>
                                </themeProps_onActive>
                            </fields>
                        </themeProps>

                        <main_viewer_parameters type="group" translate="label">
                            <label>Main viewer parameters</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <expanded>1</expanded>
                            <fields>
                                <transition translate="label comment">
                                    <label>Fade transition</label>
                                    <config_path>cloudinary/product_gallery/transition</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_Transition</source_model>
                                    <sort_order>0</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </transition>
                                <aspectRatio translate="label comment">
                                    <label>Aspect ratio</label>
                                    <config_path>cloudinary/product_gallery/aspectRatio</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_AspectRatio</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </aspectRatio>
                                <navigation translate="label comment">
                                    <label>Navigation</label>
                                    <config_path>cloudinary/product_gallery/navigation</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_Navigation</source_model>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </navigation>
                                <zoom translate="label comment">
                                    <label>Show zoom</label>
                                    <config_path>cloudinary/product_gallery/zoom</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </zoom>
                                <zoomProps_type translate="label comment">
                                    <label>Zoom type</label>
                                    <config_path>cloudinary/product_gallery/zoomProps_type</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ZoomType</source_model>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <zoom>1</zoom>
                                    </depends>
                                </zoomProps_type>
                                <zoomProps_viewerPosition translate="label comment">
                                    <label>Zoom trigger</label>
                                    <config_path>cloudinary/product_gallery/zoomProps_viewerPosition</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ZoomViewerPosition</source_model>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <zoom>1</zoom>
                                        <zoomProps_type>flyout</zoomProps_type>
                                    </depends>
                                </zoomProps_viewerPosition>
                                <zoomProps_trigger translate="label comment">
                                    <label>Zoom viewer position</label>
                                    <config_path>cloudinary/product_gallery/zoomProps_trigger</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ZoomTrigger</source_model>
                                    <sort_order>60</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <zoom>1</zoom>
                                    </depends>
                                </zoomProps_trigger>
                            </fields>
                        </main_viewer_parameters>

                        <carousel_parameters type="group" translate="label">
                            <label>Carousel parameters</label>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <expanded>1</expanded>
                            <fields>
                                <carouselLocation translate="label comment" type="select">
                                    <label>Carousel Location</label>
                                    <config_path>cloudinary/product_gallery/carouselLocation</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_CarouselLocation</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </carouselLocation>
                                <carouselOffset translate="label comment">
                                    <label>Carousel Offset</label>
                                    <config_path>cloudinary/product_gallery/carouselOffset</config_path>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>validate-number</validate>
                                </carouselOffset>
                                <carouselStyle translate="label comment">
                                    <label>Carousel Style</label>
                                    <config_path>cloudinary/product_gallery/carouselStyle</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_CarouselStyle</source_model>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </carouselStyle>
                                <thumbnailProps_width translate="label comment">
                                    <label>Thumbnail width</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_width</config_path>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>validate-number</validate>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_width>
                                <thumbnailProps_height translate="label comment">
                                    <label>Thumbnail height</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_height</config_path>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>validate-number</validate>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_height>
                                <thumbnailProps_navigationShape translate="label comment">
                                    <label>Navigation button shape</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_navigationShape</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ThumbnailsNavigationShape</source_model>
                                    <sort_order>60</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_navigationShape>
                                <thumbnailProps_selectedStyle translate="label comment">
                                    <label>Thumbnail selected style</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_selectedStyle</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ThumbnailsSelectedStyle</source_model>
                                    <sort_order>70</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_selectedStyle>
                                <thumbnailProps_selectedBorderPosition translate="label comment">
                                    <label>Thumbnail selected border position</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_selectedBorderPosition</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ThumbnailsSelectedBorderPosition</source_model>
                                    <sort_order>80</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_selectedBorderPosition>
                                <thumbnailProps_selectedBorderWidth translate="label comment">
                                    <label>Thumbnail selected border width</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_selectedBorderWidth</config_path>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>90</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <validate>validate-number</validate>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_selectedBorderWidth>
                                <thumbnailProps_mediaSymbolShape translate="label comment">
                                    <label>Thumbnail media icon shape</label>
                                    <config_path>cloudinary/product_gallery/thumbnailProps_mediaSymbolShape</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_ThumbnailsMediaSymbolShape</source_model>
                                    <sort_order>100</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <carouselStyle>thumbnails</carouselStyle>
                                    </depends>
                                </thumbnailProps_mediaSymbolShape>
                                <indicatorProps_shape translate="label comment">
                                    <label>Indicators shape</label>
                                    <config_path>cloudinary/product_gallery/indicatorProps_shape</config_path>
                                    <frontend_type>select</frontend_type>
                                    <source_model>cloudinary_cloudinary/system_config_source_ProductGallery_IndicatorsShape</source_model>
                                    <sort_order>110</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <depends>
                                        <carouselStyle>indicators</carouselStyle>
                                    </depends>
                                </indicatorProps_shape>
                            </fields>
                        </carousel_parameters>

                        <custom_free_params translate="label comment">
                            <label>Custom free parameters (advanced)</label>
                            <comment><![CDATA[Custom json to add or override the above parameters.<br>e.g., {"zoom": 0, "thumbnailProps": {"borderColor": "#EBF0F4"}}]]></comment>
                            <config_path>cloudinary/product_gallery/custom_free_params</config_path>
                            <frontend_type>textarea</frontend_type>
                            <backend_model>cloudinary_cloudinary/system_config_ProductGalleryCustomFreeParams</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </custom_free_params>
                    </fields>

                </product_gallery>
                <advanced translate="label comment">
                    <label>Advanced</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>6</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <remove_version_number translate="label comment">
                            <label>Remove version number from URLs</label>
                            <comment>Remove version number (e.g., ".../v1/...") from URLs</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </remove_version_number>
                        <use_root_path translate="label comment">
                            <label>Use root path</label>
                            <comment>Remove "/image/upload/" from URLs</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </use_root_path>
                        <use_signed_urls translate="label comment">
                            <label>Use signed URLs</label>
                            <comment>Use dynamic Cloudinary delivery URLs with a signature that needs to be validated before making it available to view.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </use_signed_urls>
                    </fields>
                </advanced>
            </groups>
        </cloudinary>
    </sections>
</config>
