<?xml version="1.0"?>
<config>
    <tabs>
        <cloudinary translate="label" module="cloudinary_cloudinary">
            <label><![CDATA[
                <div id='cloudinary-icon' style='background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;width:16px;height:16px;margin-right:5px;vertical-align: text-bottom;'></div>Cloudinary
                <script>
                    var n = SKIN_URL.indexOf("adminhtml");
                    document.getElementById('cloudinary-icon').style.backgroundImage = "url(" + SKIN_URL.substring(0, n) + 'adminhtml/default/default/images/cloudinary/cloudinary_icon_for_white_bg.svg' + ")";
                </script>
            ]]></label>
            <sort_order>400</sort_order>
        </cloudinary>
    </tabs>
    <sections>
        <cloudinary translate="label">
            <label>Settings</label>
            <tab>cloudinary</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <signup>
                    <frontend_model>cloudinary_cloudinary/adminhtml_system_config_signup</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </signup>>
                <setup translate="label comment">
                    <label>Cloudinary Setup</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <sort_order>1</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_enabled>
                            <label>Enable Cloudinary</label>
                            <comment>When Cloudinary is enabled, images will be served from Cloudinary (where available). When disabled, images will be served locally.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_enabled>
                        <cloudinary_environment_variable translate="label comment">
                            <label>Cloudinary Account Credentials</label>
                            <comment>Set the credentials of your Cloudinary account. Copy the "Environment variable" string from the dashboard of Cloudinary's Management Console.</comment>
                            <frontend_type>password</frontend_type>
                            <backend_model>cloudinary_cloudinary/system_config_credentials</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cloudinary_environment_variable>
                    </fields>
                </setup>
                <configuration translate="label comment">
                    <label>Cloudinary Configuration</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>2</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_cdn_subdomain>
                            <label>Image Delivery Domain Sharding</label>
                            <comment>Enable multiple sub-domains of image delivery URLs for faster page load speed.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_cdn_subdomain>
                        <cloudinary_auto_upload_mapping_request>
                            <label>Use auto upload mapping to upload images</label>
                            <comment>When enabled, Cloudinary will fetch images it does not have from your site automatically without requiring the manual migration process. Please clear the block and page cache to start this process.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_auto_upload_mapping_request>
                    </fields>
                </configuration>
                <transformations translate="label comment">
                    <label>Default Image Transformations</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>3</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_fetch_format>
                            <label>Automatic Image Format Optimisation</label>
                            <comment>Automatically deliver images converted to modern image formats based on viewing device and browser. For example, deliver WebP on Chrome and JPEG-XR on Internet Explorer for better performance and user experience.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_fetch_format>
                        <cloudinary_image_quality>
                            <label>Image Quality</label>
                            <comment>Adjust quality of generated images to balance between visual quality and file size minimization. The quality is relevant for JPEG and WebP compression levels for example.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_quality</source_model>
                        </cloudinary_image_quality>
                        <cloudinary_gravity translate="label comment">
                            <label>Image Cropping Gravity</label>
                            <comment>Define the part of the image to focus on when cropping images in order to better match your graphic design.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_gravity</source_model>
                        </cloudinary_gravity>
                        <cloudinary_image_dpr>
                            <label>Image Device Pixel Ratio (DPR)</label>
                            <comment>Use DPR value higher than 1.0 to generate and deliver hi-res images for better visual result on HiDPI devices, such as Retina Display devices (e.g., 2.0).</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>cloudinary_cloudinary/system_config_source_dropdown_dpr</source_model>
                        </cloudinary_image_dpr>
                        <cloudinary_free_transform_global>
                            <label>Global custom transformation</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>cloudinary_cloudinary/adminhtml_system_config_form_free</frontend_model>
                            <backend_model>cloudinary_cloudinary/system_config_free</backend_model>
                        </cloudinary_free_transform_global>
                    </fields>
                </transformations>
                <log translate="label comment">
                    <label>Logging</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>4</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cloudinary_log_active>
                            <label>Enable Logging</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cloudinary_log_active>
                        <cloudinary_log_filename>
                            <label>Filename for Logging</label>
                            <comment>Leave blank to use system default.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cloudinary_log_filename>
                    </fields>
                </log>
                <advanced translate="label comment">
                    <label>Advanced</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>5</sort_order>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <remove_version_number>
                            <label>Remove version number from URLs</label>
                            <comment>Remove version number (e.g., ".../v1/...") from URLs</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </remove_version_number>
                        <use_root_path>
                            <label>Use root path</label>
                            <comment>Remove "/image/upload/" from URLs</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </use_root_path>
                        <use_signed_urls>
                            <label>Use signed URLs</label>
                            <comment>A signed Cloudinary image delivery URL is a dynamic URL that has its signature validated before making it available for view</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </use_signed_urls>
                    </fields>
                </advanced>
            </groups>
        </cloudinary>
    </sections>
</config>
